.iframe,iframe{
  width:100%;
  height:666px;

}
 .VPDoc.has-aside .content-container{
  max-width:1000px !important;
}
/* .aside{
  display:none !important;
}  */
/* html{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
  filter:gray !important;
}
.VPImage{
  filter:none;
  -webkit-filter: none;
} */

.btn{
  padding:5px 8px;
  color:white;
  background: var(--vp-c-brand);
  border: 1px solid var(--vp-c-brand);
  border-radius: 4px;
}

.vp-doc h2{
  margin:16px 0;
}

.gpt-fix-window{
  position:fixed;
  right:10px;
  bottom:20px;
  width:280px;
  list-style:none;
  /* border:1px solid var(--vp-c-brand); */
  padding:10px;
  font-size:14px;
}
.gpt-item{
  display:inline-block;
  float:right;
  font-size:14px;
}
.vp-doc p{
  margin:6px 0;
  line-height:24px;
  font-size:20px;
}